.modal-header h4 { color: #00A0E0; }

@media (min-width: 768px) { .modal-400 { width: 400px; } }

.modal-400 { position: relative; }
.modal-400 .modal-header { position: absolute; top: 0; width: 100%; }
.modal-400 .modal-body { height: 500px; overflow-y: scroll; margin-top: 56px; }
@media (max-width: 992px) { .modal-400 .modal-body { height: 300px; } }
.modal-400 .modal-body .media { border-bottom: 1px solid #e5e5e5; padding: 10px 0; margin-top: 0; }
.modal-400 .modal-body .media:last-child { border-bottom: 0; }
.modal-400 .modal-body .media .media-body, .modal-400 .modal-body .media .media-left, .modal-400 .modal-body .media .media-right { vertical-align: middle; }
.modal-400 .modal-body .media .media-body { width: 200px; }

@media (min-width: 768px) { .modal-login { width: 400px; } }
.modal-login .modal-header.c-no-heading { text-indent: -9999px; border-bottom: 0; }
.modal-login .modal-body { padding: 0 50px 35px 50px; }
@media (max-width: 768px) { .modal-login .modal-body { padding: 0 30px 20px 30px; } }
.modal-login .modal-body .c-logo { text-align: center; padding-bottom: 20px; }
.modal-login .modal-body .c-logo img { width: 40%; }
.modal-login .modal-body .c-login-fb { padding-bottom: 30px; margin-bottom: 20px; border-bottom: 1px solid #e5e5e5; }
.modal-login .modal-body .c-login-fb .btn { background-color: #365899; border-color: #365899; color: #fff; }
.modal-login .modal-body .c-login-fb .btn:hover { background-color: #2f4d86; border-color: #2f4d86; }
.modal-login .modal-body .c-login-fb .btn i { font-size: 20px; margin-right: 5px; vertical-align: -2px; }
.modal-login .modal-body .c-login-flog label, .modal-login .modal-body .c-login-flog button, .modal-login .modal-body .c-login-flog p, .modal-login .modal-body .c-login-flog .btn-primary { margin: 0 0 15px 0; }
.modal-login .modal-body .c-login-flog .btn-primary { background-color: #00A0E0 !important; border-color: #008ec7 !important; color: #fff !important; }
.modal-login .modal-body .c-login-flog .btn-primary:hover { background-color: #008ec7 !important; border-color: #007cad !important; color: #fff !important; }
.modal-login .modal-body .c-login-flog a { color: #00A0E0 !important; }
.modal-login .modal-body .c-login-flog a:hover, .modal-login .modal-body .c-login-flog a a:focus { color: #006994 !important; }
.modal-login .modal-body .c-loading { text-align: center; color: #00A0E0; margin-top: 20px; }

.modal-modify-tag .modal-body .input-group { margin-bottom: 20px; }

.multi-language { text-align: center; }
.multi-language p { margin-bottom: 20px; }

.half-btn-wrap .btn { width: 49%; }
