/* line 6, ../sass/modal.scss */
.modal-header h4 {
  color: #00A0E0;
}

@media (min-width: 768px) {
  /* line 10, ../sass/modal.scss */
  .modal-400 {
    width: 400px;
  }
}

/* line 15, ../sass/modal.scss */
.modal-400 {
  position: relative;
}
/* line 17, ../sass/modal.scss */
.modal-400 .modal-header {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 22, ../sass/modal.scss */
.modal-400 .modal-body {
  height: 500px;
  overflow-y: scroll;
  margin-top: 56px;
}
@media (max-width: 992px) {
  /* line 22, ../sass/modal.scss */
  .modal-400 .modal-body {
    height: 300px;
  }
}
/* line 29, ../sass/modal.scss */
.modal-400 .modal-body .media {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  margin-top: 0;
}
/* line 33, ../sass/modal.scss */
.modal-400 .modal-body .media:last-child {
  border-bottom: 0;
}
/* line 36, ../sass/modal.scss */
.modal-400 .modal-body .media .media-body,
.modal-400 .modal-body .media .media-left,
.modal-400 .modal-body .media .media-right {
  vertical-align: middle;
}
/* line 41, ../sass/modal.scss */
.modal-400 .modal-body .media .media-body {
  width: 200px;
}

@media (min-width: 768px) {
  /* line 47, ../sass/modal.scss */
  .modal-login {
    width: 400px;
  }
}
/* line 51, ../sass/modal.scss */
.modal-login .modal-header.c-no-heading {
  text-indent: -9999px;
  border-bottom: 0;
}
/* line 55, ../sass/modal.scss */
.modal-login .modal-body {
  padding: 0 50px 35px 50px;
}
@media (max-width: 768px) {
  /* line 55, ../sass/modal.scss */
  .modal-login .modal-body {
    padding: 0 30px 20px 30px;
  }
}
/* line 60, ../sass/modal.scss */
.modal-login .modal-body .c-logo {
  text-align: center;
  padding-bottom: 20px;
}
/* line 63, ../sass/modal.scss */
.modal-login .modal-body .c-logo img {
  width: 40%;
}
/* line 67, ../sass/modal.scss */
.modal-login .modal-body .c-login-fb {
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 71, ../sass/modal.scss */
.modal-login .modal-body .c-login-fb .btn {
  background-color: #365899;
  border-color: #365899;
  color: #fff;
}
/* line 75, ../sass/modal.scss */
.modal-login .modal-body .c-login-fb .btn:hover {
  background-color: #2f4d86;
  border-color: #2f4d86;
}
/* line 79, ../sass/modal.scss */
.modal-login .modal-body .c-login-fb .btn i {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: -2px;
}
/* line 87, ../sass/modal.scss */
.modal-login .modal-body .c-login-flog label, .modal-login .modal-body .c-login-flog button, .modal-login .modal-body .c-login-flog p, .modal-login .modal-body .c-login-flog .btn-primary {
  margin: 0 0 15px 0;
}
/* line 90, ../sass/modal.scss */
.modal-login .modal-body .c-login-flog .btn-primary {
  background-color: #00A0E0 !important;
  border-color: #008ec7 !important;
  color: #fff !important;
}
/* line 94, ../sass/modal.scss */
.modal-login .modal-body .c-login-flog .btn-primary:hover {
  background-color: #008ec7 !important;
  border-color: #007cad !important;
  color: #fff !important;
}
/* line 100, ../sass/modal.scss */
.modal-login .modal-body .c-login-flog a {
  color: #00A0E0 !important;
}
/* line 102, ../sass/modal.scss */
.modal-login .modal-body .c-login-flog a:hover, .modal-login .modal-body .c-login-flog a a:focus {
  color: #006994 !important;
}
/* line 107, ../sass/modal.scss */
.modal-login .modal-body .c-loading {
  text-align: center;
  color: #00A0E0;
  margin-top: 20px;
}

/* line 116, ../sass/modal.scss */
.modal-modify-tag .modal-body .input-group {
  margin-bottom: 20px;
}

/* line 121, ../sass/modal.scss */
.multi-language {
  text-align: center;
}
/* line 123, ../sass/modal.scss */
.multi-language p {
  margin-bottom: 20px;
}

/* line 128, ../sass/modal.scss */
.half-btn-wrap .btn {
  width: 49%;
}
