.btn-primary { color: #fff; background-color: #66c3b6; border-color: #54bcad; }
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { color: #fff; background-color: #45b1a2; border-color: #3b978a; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { background-image: none; }
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active { background-color: #66c3b6; border-color: #54bcad; }
.btn-primary .badge { color: #66c3b6; background-color: #fff; }

.btn-tag { color: #333; background-color: #fff; border-color: #ccc; }
.btn-tag:hover, .btn-tag:focus, .btn-tag.focus, .btn-tag:active, .btn-tag.active, .open > .btn-tag.dropdown-toggle { color: #333; background-color: #e6e6e6; border-color: #adadad; }
.btn-tag:active, .btn-tag.active, .open > .btn-tag.dropdown-toggle { background-image: none; }
.btn-tag.disabled, .btn-tag.disabled:hover, .btn-tag.disabled:focus, .btn-tag.disabled.focus, .btn-tag.disabled:active, .btn-tag.disabled.active, .btn-tag[disabled], .btn-tag[disabled]:hover, .btn-tag[disabled]:focus, .btn-tag[disabled].focus, .btn-tag[disabled]:active, .btn-tag[disabled].active, fieldset[disabled] .btn-tag, fieldset[disabled] .btn-tag:hover, fieldset[disabled] .btn-tag:focus, fieldset[disabled] .btn-tag.focus, fieldset[disabled] .btn-tag:active, fieldset[disabled] .btn-tag.active { background-color: #fff; border-color: #ccc; }
.btn-tag .badge { color: #fff; background-color: #333; }

/*.loading-block{
	color: $brand-primary;
}*/
/* Arrows */
.slick-prev:before, .slick-next:before { color: #66c3b6; }

/* Dots*/
.slick-dots li button:before { color: #66c3b6; }
.slick-dots li.slick-active button:before { color: #66c3b6; }

a { color: #66c3b6; text-decoration: none; }
a:hover, a:focus { color: #3e9e91; }

.btn-link { color: #66c3b6; }
.btn-link:hover, .btn-link:focus { color: #3e9e91; }

label .c-open { display: none; color: #66c3b6; }
label input[type="radio"]:checked + .box, label input[type="checkbox"]:checked + .box { background-color: #66c3b6; border-color: #66c3b6; }

.navbar-inverse { background-color: #66c3b6; border-color: #45b1a2; }
.navbar-inverse .navbar-nav > li > a { color: #fff; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: #fff; background-color: #54bcad; }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { color: #fff; background-color: #54bcad; }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #45b1a2; }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background-color: #54bcad; color: #fff; }
@media (max-width: 991px) { .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header { border-color: #45b1a2; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider { background-color: #45b1a2; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #fff; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { color: #fff; background-color: #54bcad; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus { color: #fff; background-color: #54bcad; } }

.pagination > li > a, .pagination > li > span { color: #66c3b6; background-color: #fff; border: 1px solid #ddd; }
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus { color: #3e9e91; background-color: #ced3dd; border-color: #ddd; }
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus { color: #fff; background-color: #66c3b6; border-color: #66c3b6; cursor: default; }

.page-header { border-color: #66c3b6; }
.page-header h4 { border-color: #66c3b6; color: #fff; background-color: #66c3b6; }

.color-primary { color: #66c3b6 !important; }

.c-social > a.thumbs .badge { background-color: #66c3b6; }
.c-social > a.thumbs i { color: #66c3b6; }
@media (min-width: 992px) { .c-social > a.btn-link:hover { color: #45b1a2; } }
.c-social > a.btn-link.active { color: #45b1a2; }

.c-post .c-title .c-info .time { color: #66c3b6; }

.c-content > a { color: #1d2129; }
.c-content > a:hover { text-decoration: none; }
.c-content > a:hover .color-primary { color: #3e9e91 !important; }

ul.c-about-me li:before { color: #66c3b6; }

.c-theme .c-media-wrap .media-left { border-left: 3px solid #66c3b6; }
.c-theme .c-media-wrap .media-body .media-heading { color: #66c3b6; }

.c-explore a:hover { color: #66c3b6; }

.c-backup-obj ul li a:hover { color: #66c3b6; }

.c-theme-page h1 { color: #66c3b6; }

.c-message .media .c-msg-social a.thumbs .badge { background-color: #66c3b6; }
.c-message .media .c-msg-social a.thumbs i { color: #66c3b6; }

.c-personal-page h1 { background-color: #66c3b6; }
@media (min-width: 481px) { .c-personal-page h1:after { border-top: 10px solid #66c3b6; } }

.datepicker table tr td.post { color: #66c3b6 !important; }

.datepicker table tr td.active { background-color: #66c3b6; }
.datepicker table tr td.active.highlighted { background-color: #66c3b6; }
.datepicker table tr td.active:focus, .datepicker table tr td.active.highlighted:focus, .datepicker table tr td.active.focus, .datepicker table tr td.active.highlighted.focus { background-color: #66c3b6; }
.datepicker table tr td.active:hover, .datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active { background-color: #66c3b6; }
.datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.highlighted.disabled:hover, .datepicker table tr td.active[disabled]:hover, .datepicker table tr td.active.highlighted[disabled]:hover { background-color: #66c3b6; }

fieldset[disabled] .datepicker table tr td.active:hover, fieldset[disabled] .datepicker table tr td.active.highlighted:hover { background-color: #66c3b6; }

.datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.highlighted.disabled:focus, .datepicker table tr td.active[disabled]:focus, .datepicker table tr td.active.highlighted[disabled]:focus { background-color: #66c3b6; }

fieldset[disabled] .datepicker table tr td.active:focus, fieldset[disabled] .datepicker table tr td.active.highlighted:focus { background-color: #66c3b6; }

.datepicker table tr td.active.disabled.focus, .datepicker table tr td.active.highlighted.disabled.focus, .datepicker table tr td.active[disabled].focus, .datepicker table tr td.active.highlighted[disabled].focus { background-color: #66c3b6; }

fieldset[disabled] .datepicker table tr td.active.focus, fieldset[disabled] .datepicker table tr td.active.highlighted.focus { background-color: #66c3b6; }

.datepicker table tr td span.active { background-color: #66c3b6; }
.datepicker table tr td span.active:hover { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled:hover { background-color: #66c3b6; }
.datepicker table tr td span.active:focus, .datepicker table tr td span.active:hover:focus { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus { background-color: #66c3b6; }
.datepicker table tr td span.active.focus, .datepicker table tr td span.active:hover.focus { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled.focus, .datepicker table tr td span.active.disabled:hover.focus { background-color: #66c3b6; }
.datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active { background-color: #66c3b6; }
.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active { background-color: #66c3b6; }

fieldset[disabled] .datepicker table tr td span.active:hover, fieldset[disabled] .datepicker table tr td span.active.disabled:hover { background-color: #66c3b6; }

.datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active:hover.disabled:focus { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled.disabled:focus, .datepicker table tr td span.active.disabled:hover.disabled:focus { background-color: #66c3b6; }
.datepicker table tr td span.active[disabled]:focus, .datepicker table tr td span.active:hover[disabled]:focus { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled[disabled]:focus, .datepicker table tr td span.active.disabled:hover[disabled]:focus { background-color: #66c3b6; }

fieldset[disabled] .datepicker table tr td span.active:focus, fieldset[disabled] .datepicker table tr td span.active:hover:focus { background-color: #66c3b6; }
fieldset[disabled] .datepicker table tr td span.active.disabled:focus, fieldset[disabled] .datepicker table tr td span.active.disabled:hover:focus { background-color: #66c3b6; }

.datepicker table tr td span.active.disabled.focus, .datepicker table tr td span.active:hover.disabled.focus { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled.disabled.focus, .datepicker table tr td span.active.disabled:hover.disabled.focus { background-color: #66c3b6; }
.datepicker table tr td span.active[disabled].focus, .datepicker table tr td span.active:hover[disabled].focus { background-color: #66c3b6; }
.datepicker table tr td span.active.disabled[disabled].focus, .datepicker table tr td span.active.disabled:hover[disabled].focus { background-color: #66c3b6; }

fieldset[disabled] .datepicker table tr td span.active.focus, fieldset[disabled] .datepicker table tr td span.active:hover.focus { background-color: #66c3b6; }
fieldset[disabled] .datepicker table tr td span.active.disabled.focus, fieldset[disabled] .datepicker table tr td span.active.disabled:hover.focus { background-color: #66c3b6; }

.navbar-show > li > a { background-color: #66c3b6; }
.navbar-show > li > a:hover, .navbar-show > li > a:focus { background-color: #54bcad; }
.navbar-show .open > a, .navbar-show .open > a:hover, .navbar-show .open > a:focus { background-color: #54bcad; }
