@import "bootstrap/variables";
@import "compass/css3";
.color-gray{
	color: $gray-light!important;
}
.c-login-heading{
    height: 420px;
    width: 100%;
    background-image: url(http://flog.youthwant.com.tw/themes/website/images/home_bg.png);
    background-repeat: repeat-x;
    padding-top: 60px;
    background-color: $brand-primary;
    text-align: center;
    .main{
        h1{
            color: #fff;
            font-size: 17px;
            line-height: 1.3;
        }
        p{
            color: #fff;
            font-size: 24px;
        }
        .btn-wrap{            
            max-width: 500px;
            margin: 0 auto;
            .btn-primary{
                border: 2px solid #fff;
                font-size: 24px;
                @include border-radius(10px);
                @media (max-width: $screen-sm-min){
                    font-size: 20px;
                }
                img{
                    height: 31px;
                }
            }
        }        
    }
}
.c-login-body{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #fff;
    span{
        color: $gray-light;
    }
    .heading{
        font-size: 20px;
    }
    .main{
        max-width: 640px;
        margin: 0 auto;
        @media (max-width: $screen-xs-min){
            .c-m-none{
                display: none;
            }
        }
    }
}
.c-login-footer{	
	background-color: $gray-white;
	padding: 25px 0;
	text-align: center;
	font-size: 13px;
	color: $gray-light;
	margin-top: 30px;
    @media (min-width: $screen-sm-min){
        position: fixed;
        width: 100%;
        bottom: 0;
    }
	a{
		color: $gray-light;		
		text-decoration: none;
		font-size: 12px;
	}
	p{
		margin-top: 10px;
	}
	@media (max-width: $screen-xs-min){
		&{
			padding: 10px 0;
		}		
		.c-m-none{
			display: none;
		}
	}
}
